body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    color: #5f6368;
    font-size: 14px;
}

/*? header */

#headerNav {
    text-align: right;
}

#headerLi {
    list-style-type: none;
    display: inline-flex;
    flex-grow: 1;
    margin: 10px 30px;
    overflow: hidden;
}

#headerLi a {
    color: #5f6368;
    display: block;
    text-align: center;
    text-decoration: none;
}

#headerLi a:hover {
    text-align: underline;
}

#appButton {
    padding: 0px;
    width: 24px;
    height: 24px;
}

#profilPic {
    width: 30px;
    border-radius: 30px;
}

/*? main section */

main {
    text-align: center;
    margin: 140px;
}

#logo {
    margin-bottom: 32px;
}

#searchArea {
    text-align: center;
    margin: 0px auto;
    padding: auto 12px;
    width: 580px;
    height: 42px;
    border-radius: 24px;
    border: 1px solid #f2f2f2;
    display: inline-flex;
}

#searchArea:hover {
    box-shadow: 0px 1px 8px -2px #5f6368;
}


#searching {
    margin: 12px 10px;
    height: 20px;
    width: 20px;
    opacity: .5;
}

#voice {
    /* position: fixed; */
    /* top: 12px; left: 24px; */
    margin: 12px 10px;
    height: 20px;
    cursor: pointer;
}

input {
    margin: 5px 9.5px;
    width: 480px;
    height: 34px;
    border: transparent;
    outline: none;
    word-wrap: break-word;
    flex: 100%;
    font-size: 16px;
    text-rendering: auto;
    letter-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    cursor: text;
}

input::-webkit-search-cancel-button {
    display: none;
}

.mainSpan {
    display: inline-flex;
    flex-grow: 1;
}

.buttons {
    margin: 30px 8px;
}

button {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    height: 36px;
    font-size: 14px;
    color: #5f6368;
    padding:0 16px;
}

footer {
    position: fixed;
    background-color: #f2f2f2;
    border: 1px solid #e4e4e4;
    height: 40px;
    width: 100%;
    margin: 0px;
    bottom: 0px;
    margin-left: -8px;
}

#setItems {
    display: flex;
    justify-content: space-between;
}

.footerSpan {
    padding: 0 10px;
}

ul {
    display: inline-block;
    justify-content: space-evenly;
    padding: 0%;
}

#footerLi {
    list-style-type: none;
    display: inline-flex;
    overflow: hidden;
    flex-grow: 1;
}

#footerLi a {
    color: #5f6368;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: auto 10px;
}

#footerLi a:hover {
    text-decoration: underline;
}

#endLi {
    list-style-type: none;
    display: inline-flex;
    overflow: hidden;
    flex-grow: 1;
}

#endLi a {
    color: #5f6368;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: auto 10px;
}

#endLi a:hover {
    text-decoration: underline;
}